h1{
    width:900px;
    margin: 0 auto;
    /* background: gray; */
    text-align: center;
    font-size: 250px;
    /* color: white; */
    color: #fff; /* Fallback for older browsers */
    color: white;

    opacity: 1.5;
}

body{
    background-color: rgb(118, 118, 118);
}

.anaglyph{
    letter-spacing: 15px;
    /* text-shadow: rgb(254, 221, 8) 0 0, rgb(5, 55, 220) 0 0; */
    text-shadow: rgb(5, 55, 220) 0 0, rgb(254, 221, 8) 0 0;
    transition: text-shadow 500ms;
}

.anaglyph:hover {
    text-shadow:  rgb(5, 55, 220) -15px 0, rgb(254, 221, 8) 15px 0;
    /* text-shadow:  rgb(198, 56, 198) 0 -15px, rgb(8, 254, 49) 0 15px; */
}